@use '../utils/variables' as var;

.career-timeline {
	position: relative;
	padding-left: 2rem;

	&-progress-bar {
		position: absolute;
		bottom: 0;
		left: 0;
		height: 100%;
		min-width: 0.5rem;

		border-radius: var.$border-radius;
		background: var.$content;

		&:after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: clamp(
				0%,
				calc(var(--scroll-percentage) * 3) - 25%,
				100%
			);
			border-radius: var.$border-radius;
			background: var.$linear-gradient-main;
		}
	}

	&-position {
		padding-left: 1rem;
	}

	&-education {
		& h5 {
			margin-top: 0;
		}
		& p {
			padding-left: 1rem;
		}
	}

	&-education, &-position {
		& p:nth-child(1) {
			font-weight: 300;
			font-style: italic;
		}
		& p:nth-child(2) {
			margin-top: -1rem;
		}
		& p:nth-child(3) {
			margin-top: -1rem;
			font-size: 0.85rem;
		}
	}
}
