@use '../utils/variables' as var;

.card {
	display: block;
	position: relative;
	width: fit-content;
	margin: 0 auto;
	text-align: left;
	padding: 5rem;

	background: var.$content;
	border-radius: var.$border-radius;
	transition: background 100ms ease-in-out;

	&:hover, &:focus {
		background: var.$content-light;
	}

	&.animated-border {
		&::after {
			content: '';
			position: absolute;
			height: 102%;
			width: 102%;
			top: 50%;
			left: 50%;
			translate: -50% -50%;

			border-radius: var.$border-radius;
			background: conic-gradient(
				from var(--angle),
				var.$primary,
				var.$secondary,
				var.$accent,
				var.$primary
			);
			z-index: var.$layer-behind;

			animation: rotate-angle-full 4s linear infinite;
			animation-fill-mode: forwards;

			transition: all 200ms ease-in-out;
		}
	}
}
