@use '../utils/variables' as var;

.card {
	display: block;
	position: relative;
	width: fit-content;
	max-width: calc(100vw - 4rem);
	margin: 0 auto;
	text-align: left;
	padding: 1rem;
	padding-bottom: 4rem;
	margin-bottom: 0.25rem;

	background: var.$content;
	border-radius: var.$border-radius;
	transition: background 200ms ease-in-out;

	&-header, &-header-links {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&-header-links {
		gap: 0.75rem;

		& svg {
			fill: var.$text;
			width: var.$icon-xsmall;
		}
	}

	&-technologies {
		position: absolute;
		bottom: 0;
		padding: 1rem 0.25rem;
		display: flex;
		align-items: center;
		gap: var.$technologies-gap;
		overflow-x: scroll;
	}

	&::after {
		content: '';
		position: absolute;
		height: 100%;
		width: 100%;
		top: 50%;
		left: 50%;
		translate: -50% -49%;

		border-radius: var.$border-radius;
		background: conic-gradient(
			from var(--angle),
			var.$primary,
			var.$secondary,
			var.$accent,
			var.$primary
		);
		z-index: var.$layer-behind;

		animation: rotate-angle-full 4s linear infinite;
		animation-fill-mode: forwards;

		transition: all 200ms ease-in-out;
	}

	&:hover, &:focus {
		background: var.$content-hover;

		&::after {
			height: 104%;
			width: 102%;
			translate: -50% -50%;
		}
	}
}
