@use '../utils/variables' as var;

.divider {
	--divider-item-height: 25%;
	position: relative;
	width: 100vw;
	height: 20vh;

	& .divider-left {
		position: absolute;
		top: 0;
		left: 0;
		width: 50%;
		height: 100%;

		border-top-left-radius: calc(var.$border-radius-corner / 2);

		&:after {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: var(--divider-item-height);

			background: var.$background;
			border-top-left-radius: var.$border-radius-corner;
		}
	}

	& .divider-right {
		position: absolute;
		bottom: var(--divider-item-height);
		right: 0;
		width: 50%;
		height: 100%;

		border-bottom-right-radius: calc(var.$border-radius-corner / 2);

		&:after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: var(--divider-item-height);

			background: var.$background;
			border-bottom-right-radius: var.$border-radius-corner;
		}
	}

	&.primary {
		& .divider-left {
			background: linear-gradient(
				to right,
				var.$primary,
				var.$primary-to-secondary
			);
		}
		& .divider-right {
			background: linear-gradient(
				to right,
				var.$primary-to-secondary,
				var.$secondary
			);
		}
	}
	&.secondary {
		& .divider-left {
			background: linear-gradient(
				to right,
				var.$secondary,
				var.$secondary-to-accent
			);
		}
		& .divider-right {
			background: linear-gradient(
				to right,
				var.$secondary-to-accent,
				var.$accent
			);
		}
	}
	&.accent {
		& .divider-left {
			background: linear-gradient(
				to right,
				var.$accent,
				var.$accent-to-primary
			);
		}
		& .divider-right {
			background: linear-gradient(
				to right,
				var.$accent-to-primary,
				var.$primary
			);
		}
	}
}
