@use '../utils/variables' as var;

.floating-contact {
	position: fixed;
	bottom: 2vh;
	right: 2vw;
	z-index: var.$layer-floating;

	display: flex;

	border-radius: var.$border-radius-corner;
	padding: 0.25rem 1rem;
	background-color: var.$content-hover;

	&-logo {
		width: 20vw;
		max-width: 120px;
		height: auto;
	}

	&-socials {
		padding-right: 1rem;
		display: flex;
		align-items: center;
		gap: 1rem;

		& svg {
			fill: var.$text;
			width: var.$icon-small;
		}
	}
}
