@use '../utils/variables' as var;

.floating-header {
	position: fixed;
	top: 0.5rem;
	left: 0.5rem;
	right: 0.5rem;
	z-index: 100;

	border-radius: var.$border-radius;
	border: 1px solid var.$border-color;
	padding: 0.25rem;

	&-logo {
		width: 20vw;
		max-width: 120px;
		height: auto;
	}
}
