@use '../utils/variables' as var;

.floating-contact {
	position: fixed;
	bottom: 0.5rem;
	right: 0.5rem;
	z-index: 100;

	display: flex;

	border-radius: var.$border-radius;
	border: 1px solid var.$border-color;
	padding: 0.25rem;

	&-logo {
		width: 20vw;
		max-width: 120px;
		height: auto;
	}

	&-socials {
		padding-right: 1rem;
		display: flex;
		align-items: center;
		gap: 1rem;

		& svg {
			fill: var.$text;
			width: var.$icon-small;
		}
	}
}
