@use '../utils/variables' as var;

.hook {
	width: 100vw;
	contain: content;

	& .signature {
		translate: -10% -30%;
		width: 7rem;
		height: 7rem;

		filter: brightness(100);
	}

	& .background:nth-child(1) {
		width: 100vw;
		min-height: 70vh;

		background: linear-gradient(
			28deg,
			var.$primary,
			var.$secondary,
			var.$accent
		);
		border-bottom-left-radius: var.$border-radius-corner;

		padding: 5rem 8%;
	}

	& .background:nth-child(2) {
		position: relative;
		width: 100vw;
		height: 8vh;

		background: var.$background;
		border-top-right-radius: var.$border-radius-corner;

		&:after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 99%;
			background: linear-gradient(
				28deg,
				var.$primary,
				var.$secondary,
				var.$accent
			);
			z-index: var.$layer-behind;
			translate: 78% 0;
		}
	}

	h2 {
		margin-top: 15vh;
		margin-bottom: 0rem;

		opacity: 0;
		animation: fade-in-left 400ms ease-in-out 1;
		animation-fill-mode: forwards;
	}

	h3 {
		margin-top: 0.125rem;

		opacity: 0;
		animation: fade-in-left 400ms ease-in-out 1 100ms;
		animation-fill-mode: forwards;
	}

	& .signature-container {
		opacity: 0;
		animation: fade-in-left 400ms ease-in-out 1 200ms;
		animation-fill-mode: forwards;
	}
}
