@use '../utils/variables' as var;

.hook {
	width: 100vw;

	& .background {
		width: 100vw;
		height: 50vh;

		background: linear-gradient(
			28deg,
			var.$primary,
			var.$secondary,
			var.$accent
		);
		border-bottom-left-radius: var.$border-radius-corner;
	}
}
