@use '../utils/variables' as var;

.career-timeline-container {
	display: flex;
	gap: 1rem;
}

.career-highlight {
	position: sticky;
	top: calc(85vh - 10rem);
	flex-grow: 1;
	height: 10rem;

	background-color: var.$content;
	border-radius: var.$border-radius;

	display: flex;
	flex-direction: column;
	align-items: baseline;
	padding: 1rem;

	& > p {
		color: var.$text;
		margin: 0;
	}
	& > p:nth-child(1) {
		font-family: 'DM Sans', sans-serif;
		font-weight: 900;
		font-size: 3rem;
	}
	& > p:nth-child(2) {
		margin-top: -1rem;
		font-style: italic;
		font-size: 1.25rem;
	}

	transition: all 200ms ease-in-out;

	&:hover {
		background-color: var.$content-hover;
	}

	@media screen and (max-width: calc(var.$screen-mobile * 1.2)) {
		display: none;
	}
}
