@use 'utils/variables' as var;
@use 'utils/text';
@use 'utils/animations';

@use 'components/floating-contact';
@use 'components/hook';

* {
	background: var.$background;
	color: var.$text;
}

body {
	margin: 0;
}

button {
	cursor: pointer;
}
