@use 'utils/animations';
@use 'utils/icons';
@use 'utils/structures';
@use 'utils/text';
@use 'utils/variables' as var;

@use 'components/card';
@use 'components/career-timeline';
@use 'components/contact';
@use 'components/divider';
@use 'components/floating-contact';
@use 'components/gradient-text';
@use 'components/hook';
@use 'components/scroll-next';
@use 'components/sticky-quote';

html {
	box-sizing: border-box;
	background: var.$background;
	color: var.$text;

	overflow-x: hidden;
	scroll-behavior: smooth;
}

body {
	margin: 0;
	overflow-x: hidden;
}

*, *:before, *:after {
	box-sizing: inherit;
}

button {
	cursor: pointer;
}
