@keyframes animated-text-gradient {
	to {
		background-position: 100%;
	}
}

@property --angle {
	syntax: '<angle>';
	initial-value: 0deg;
	inherits: false;
}

@keyframes rotate-angle-full {
	from {
		--angle: 0deg;
	}
	to {
		--angle: 360deg;
	}
}

@keyframes fade-in-left {
	0% {
		opacity: 0;
		translate: 10% 0;
	}
	100% {
		opacity: 1;
		translate: 0 0;
	}
}
