@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

h2 {
	font-family: 'DM Sans', sans-serif;
	font-optical-sizing: auto;
	font-weight: 600;
	font-style: normal;

	font-size: min(6.25rem, 15vw);
}

p {
	font-family: 'Open Sans', sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	font-variation-settings: 'wdth' 100;

	font-size: 1rem;
}
