h2, h4 {
	font-family: 'DM Sans', sans-serif;
	font-optical-sizing: auto;
	font-weight: 600;
	font-style: normal;
}

h2 {
	font-size: min(6rem, 14vw);
}

h4 {
	font-size: min(2rem, 5vw);
	margin: 0;
}

h3, h5, p {
	font-family: 'Open Sans', sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	font-variation-settings: 'wdth' 100;
}

h3 {
	font-size: min(1.25rem, 3.5vw);
}

h5 {
	font-size: 1.125rem;
	font-weight: 600;
	margin-bottom: 0;
}

p {
	font-size: 1rem;
}
