// COLORS
:root {
	--text: #d1defb;
	--background: #04060b;
	--content: #0c1424;
	--content-hover: #1f2939;
	--primary: #7492f4;
	--primary-to-secondary: #8092f4;
	--secondary: #8d0b9c;
	--secondary-muted: #4c60a1;
	--secondary-to-accent: #bc0f9c;
	--accent: #ec1463;
	--accent-to-primary: #b092f4;

	--gradient: var(--primary), var(--secondary), var(--accent);
	--linear-gradient-main: linear-gradient(var(--gradient));

	--border-radius: 0.65rem;
	--border-radius-corner: 6rem;
	--border: 1px solid var(--border-color);
	--border-color: #7e7c80;

	--icon-small: 2rem;
	--icon-xsmall: 1.125rem;

	--layer-behind: -1;
	--layer-above: 1;
	--layer-floating: 100;
}

$text: var(--text);
$background: var(--background);
$content: var(--content);
$content-hover: var(--content-hover);

$primary: var(--primary);
$primary-to-secondary: var(--primary-to-secondary);
$secondary: var(--secondary);
$secondary-muted: var(--secondary-muted);
$secondary-to-accent: var(--secondary-to-accent);
$accent: var(--accent);
$accent-to-primary: var(--accent-to-primary);

$gradient: var(--gradient);
$linear-gradient-main: var(--linear-gradient-main);

$border-radius: var(--border-radius);
$border-radius-corner: var(--border-radius-corner);
$border: var(--border);
$border-color: var(--border-color);

$icon-small: var(--icon-small);
$icon-xsmall: var(--icon-xsmall);

$layer-behind: var(--layer-behind);
$layer-above: var(--layer-above);
$layer-floating: var(--layer-floating);

$screen-mobile: 600px;
$screen-tablet: 1200px;
