// COLORS
:root {
	--text: #d1defb;
	--background: #04060b;
	--content: #0c1424;
	--content-hover: #1f2939;
	--primary: #7492f4;
	--secondary: #8d0b9c;
	--secondary-muted: #4c60a1;
	--accent: #ec1463;

	--border-radius: 0.65rem;
	--border-radius-corner: 20vh;
	--border: 1px solid var(--border-color);
	--border-color: #7e7c80;

	--icon-small: 2rem;

	--layer-behind: -1;
	--layer-floating: 100;
}

$text: var(--text);
$background: var(--background);
$content: var(--content);
$content-hover: var(--content-hover);
$primary: var(--primary);
$secondary: var(--secondary);
$secondary-muted: var(--secondary-muted);
$accent: var(--accent);

$border-radius: var(--border-radius);
$border-radius-corner: var(--border-radius-corner);
$border: var(--border);
$border-color: var(--border-color);

$icon-small: var(--icon-small);

$layer-behind: var(--layer-behind);
$layer-floating: var(--layer-floating);
