<div class="career-timeline">
	<div class="career-timeline-progress-bar"></div>

	<div class="career-timeline-era">
		<h5>Seattle University</h5>

		<div class="career-timeline-position">
			<p>B.S. Computer Science, Minor in Mathematics</p>
			<p>2017 - 2021</p>
			<p>Computer Science Club</p>

			<div class="career-timeline-technologies">
				<img
					class="technology-icon"
					src="./assets/c-plusplus.svg"
					alt="C PlusPlus Logo"
					height="24px"
					width="27px"
				/>
				<img
					class="technology-icon"
					src="./assets/python.svg"
					alt="Python Logo"
					height="24px"
					width="24px"
				/>
				<img
					class="technology-icon"
					src="./assets/java.svg"
					alt="Java Logo"
					height="24px"
					width="32px"
				/>
			</div>
		</div>
	</div>

	<div class="career-timeline-era">
		<h5>Bonsai Media Group</h5>

		<div class="career-timeline-position">
			<p>Web Development Intern</p>
			<p>2018 - 2019</p>

			<div class="career-timeline-technologies">
				<img
					class="technology-icon jquery-icon"
					src="./assets/jquery.svg"
					alt="jQuery Logo"
					height="15px"
					width="64px"
				/>
				<img
					class="technology-icon"
					src="./assets/javascript.svg"
					alt="JavaScript Logo"
					height="24px"
					width="24px"
				/>
				<img
					class="technology-icon html-icon"
					src="./assets/html.svg"
					alt="HTML 5 Logo"
					height="34px"
					width="24px"
				/>
				<img
					class="technology-icon css-icon"
					src="./assets/css.svg"
					alt="CSS 3 Logo"
					height="34px"
					width="24px"
				/>
			</div>
		</div>
	</div>

	<div class="career-timeline-era">
		<h5>Expedia Group</h5>

		<div class="career-timeline-position">
			<p>Software Development Engineering Intern</p>
			<p>2020</p>
			<p>Virtual Agent</p>

			<div class="career-timeline-technologies">
				<img
					class="technology-icon"
					src="./assets/react.svg"
					alt="React Logo"
					height="22px"
					width="24px"
				/>
				<img
					class="technology-icon"
					src="./assets/typescript.svg"
					alt="TypeScript Logo"
					height="24px"
					width="24px"
				/>
				<img
					class="technology-icon"
					src="./assets/javascript.svg"
					alt="JavaScript Logo"
					height="24px"
					width="24px"
				/>
				<img
					class="technology-icon"
					src="./assets/sass.svg"
					alt="Sass Logo"
					height="18px"
					width="24px"
				/>
				<img
					class="technology-icon cypress-icon"
					src="./assets/cypress.svg"
					alt="Cypress Logo"
					height="24px"
					width="24px"
				/>
			</div>
		</div>
	</div>

	<div class="career-timeline-era">
		<h5>Seattle University (RISC)</h5>

		<div class="career-timeline-position">
			<p>Student Web Developer</p>
			<p>2020 - 2021</p>

			<div class="career-timeline-technologies">
				<img
					class="technology-icon jquery-icon"
					src="./assets/jquery.svg"
					alt="jQuery Logo"
					height="15px"
					width="64px"
				/>
				<img
					class="technology-icon"
					src="./assets/javascript.svg"
					alt="JavaScript Logo"
					height="24px"
					width="24px"
				/>
				<img
					class="technology-icon html-icon"
					src="./assets/html.svg"
					alt="HTML 5 Logo"
					height="34px"
					width="24px"
				/>
				<img
					class="technology-icon css-icon"
					src="./assets/css.svg"
					alt="CSS 3 Logo"
					height="34px"
					width="24px"
				/>
			</div>
		</div>
	</div>

	<div class="career-timeline-era">
		<h5>Expedia Group</h5>

		<div class="career-timeline-position">
			<p>Software Development Engineer I</p>
			<p>2021</p>
			<p>Transportaion</p>

			<div class="career-timeline-technologies">
				<img
					class="technology-icon"
					src="./assets/react.svg"
					alt="React Logo"
					height="22px"
					width="24px"
				/>
				<img
					class="technology-icon apollo-icon"
					src="./assets/apollo.svg"
					alt="Apollo GraphQL Logo"
					height="24px"
					width="24px"
				/>
				<img
					class="technology-icon"
					src="./assets/graphql.svg"
					alt="GraphQL Logo"
					height="24px"
					width="24px"
				/>
				<img
					class="technology-icon"
					src="./assets/kotlin.svg"
					alt="Kotlin Logo"
					height="24px"
					width="24px"
				/>
				<img
					class="technology-icon"
					src="./assets/typescript.svg"
					alt="TypeScript Logo"
					height="24px"
					width="24px"
				/>
				<img
					class="technology-icon"
					src="./assets/javascript.svg"
					alt="JavaScript Logo"
					height="24px"
					width="24px"
				/>
				<img
					class="technology-icon css-icon"
					src="./assets/css.svg"
					alt="CSS 3 Logo"
					height="34px"
					width="24px"
				/>
				<img
					class="technology-icon cypress-icon"
					src="./assets/cypress.svg"
					alt="Cypress Logo"
					height="24px"
					width="24px"
				/>
			</div>
		</div>

		<div class="career-timeline-position">
			<p>Software Development Engineer I</p>
			<p>2021 - 2022</p>
			<p>Flights</p>

			<div class="career-timeline-technologies">
				<img
					class="technology-icon"
					src="./assets/react.svg"
					alt="React Logo"
					height="22px"
					width="24px"
				/>
				<img
					class="technology-icon apollo-icon"
					src="./assets/apollo.svg"
					alt="Apollo GraphQL Logo"
					height="24px"
					width="24px"
				/>
				<img
					class="technology-icon"
					src="./assets/graphql.svg"
					alt="GraphQL Logo"
					height="24px"
					width="24px"
				/>
				<img
					class="technology-icon"
					src="./assets/kotlin.svg"
					alt="Kotlin Logo"
					height="24px"
					width="24px"
				/>
				<img
					class="technology-icon"
					src="./assets/typescript.svg"
					alt="TypeScript Logo"
					height="24px"
					width="24px"
				/>
				<img
					class="technology-icon"
					src="./assets/javascript.svg"
					alt="JavaScript Logo"
					height="24px"
					width="24px"
				/>
				<img
					class="technology-icon css-icon"
					src="./assets/css.svg"
					alt="CSS 3 Logo"
					height="34px"
					width="24px"
				/>
				<img
					class="technology-icon cypress-icon"
					src="./assets/cypress.svg"
					alt="Cypress Logo"
					height="24px"
					width="24px"
				/>
			</div>
		</div>

		<div class="career-timeline-position">
			<p>Software Development Engineer II</p>
			<p>2022 - 2024</p>
			<p>Virtual Agent</p>

			<div class="career-timeline-technologies">
				<img
					class="technology-icon"
					src="./assets/react.svg"
					alt="React Logo"
					height="22px"
					width="24px"
				/>
				<img
					class="technology-icon apollo-icon"
					src="./assets/apollo.svg"
					alt="Apollo GraphQL Logo"
					height="24px"
					width="24px"
				/>
				<img
					class="technology-icon"
					src="./assets/graphql.svg"
					alt="GraphQL Logo"
					height="24px"
					width="24px"
				/>
				<img
					class="technology-icon"
					src="./assets/kotlin.svg"
					alt="Kotlin Logo"
					height="24px"
					width="24px"
				/>
				<img
					class="technology-icon"
					src="./assets/typescript.svg"
					alt="TypeScript Logo"
					height="24px"
					width="24px"
				/>
				<img
					class="technology-icon"
					src="./assets/javascript.svg"
					alt="JavaScript Logo"
					height="24px"
					width="24px"
				/>
				<img
					class="technology-icon"
					src="./assets/sass.svg"
					alt="Sass Logo"
					height="18px"
					width="24px"
				/>
				<img
					class="technology-icon cypress-icon"
					src="./assets/cypress.svg"
					alt="Cypress Logo"
					height="24px"
					width="24px"
				/>
			</div>
		</div>
	</div>
</div>
