<div class="career-timeline">
	<div class="career-timeline-progress-bar"></div>

	<div class="career-timeline-education">
		<h5>Seattle University</h5>

		<div>
			<p>B.S. Computer Science, Minor in Mathematics</p>
			<p>2017 - 2021</p>
			<p>Computer Science Club</p>
		</div>
	</div>

	<div class="career-timeline-era">
		<h5>Bonsai Media Group</h5>

		<div class="career-timeline-position">
			<p>Web Development Intern</p>
			<p>2018 - 2019</p>
		</div>
	</div>

	<div class="career-timeline-era">
		<h5>Expedia Group</h5>

		<div class="career-timeline-position">
			<p>Software Development Engineering Intern</p>
			<p>2020</p>
			<p>Virtual Agent</p>
		</div>
	</div>

	<div class="career-timeline-era">
		<h5>Seattle University (RISC)</h5>

		<div class="career-timeline-position">
			<p>Student Web Developer</p>
			<p>2020 - 2021</p>
		</div>
	</div>

	<div class="career-timeline-era">
		<h5>Expedia Group</h5>

		<div class="career-timeline-position">
			<p>Software Development Engineer I</p>
			<p>2021</p>
			<p>Transportaion</p>
		</div>

		<div class="career-timeline-position">
			<p>Software Development Engineer I</p>
			<p>2021 - 2022</p>
			<p>Flights</p>
		</div>

		<div class="career-timeline-position">
			<p>Software Development Engineer II</p>
			<p>2022 - 2024</p>
			<p>Virtual Agent</p>
		</div>
	</div>
</div>
